<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= categories_path %>">Home</a></li>
      <% @category.ancestors.each do |ancestor| %>
        <li class="breadcrumb-item"><a href="<%= category_path(ancestor) %>"><%= ancestor.name %></a></li>
      <% end %>
      <li class="breadcrumb-item active" aria-current="page"><%= @category.name %></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <% if @category.products? %>

      <% else %>

      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
